:root{
    --primarycolor:#0000FF;
    --secondary: #D8F5F8;
    --accentcolor: #797777;
    --customcolor:#EBE9E9;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* background-color: var(--customcolor); */
    ul{
        list-style: none;
            }
    }



.navbar{
    display:flex;
    justify-content: space-between;
    background-color: var(--primarycolor);
    color:#fff;
    p{
        font-size: 40px;
    }
    a{
        text-decoration: none;
        color:white;
        display: flex;
        justify-content: space-between;
    }

}
.nav-image{
    padding-left:5%;
border-radius:50%;
}
.navbar2{
background-color: var(--secondary);
display: flex;
a{
    text-decoration: none;
    margin-left:5%;
    color:black;
}
}
.hero{
       background-size: 990px;
       background:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),url('/images/background-top.jpg') no-repeat center center/cover;
text-align: center;
height:60vh;
h3{
    padding-top: 4rem 1rem;
    text-align: center;
    font-size: 29px;
    margin-bottom: 1rem;
    /* color:white; */
}   
}

.input{
    input{
        width:230px;
        height:5vh;
        border-radius: 5px;
            }
            button{
                width:90px;
                height:5vh;
                border-radius: 10px;
                color:#fff;
                background-color: var(--primarycolor);
                font-size: 18px;
            }
}

.quize{
    background: var(--secondary);
    padding-top:20px;
    width:30vw;
    height:30vh;
    margin-left: 40%;
    margin-top:2%;
    .quize2{
margin-left: 5%;

    }
input{
    width:150px;
    height:4vh;
}
button{
    background-color: var(--primarycolor);
    color:#fff;
    border-radius:7px;
    width:90px;
    height:3vh;
}
}

.why{
    margin-top: 3%;
margin-left: 40%;
}
.simply{
    display:flex;
    text-wrap: wrap;
        
    h3{
        color: var(--primarycolor);
        text-align: center;
    }
}
.schedule{
     padding:50px;
box-shadow: 1px 10px 3px var(--customcolor);
gap:10px;
text-wrap: wrap;
}

.footerbg{
    background-color: var(--secondary);
       padding-top: 40px;
}
.footer{
padding-top: 50px;
display:flex;
    input{
        width:200px;
        height:4vh;
            }
            button{
                width:90px;
                height:4vh;
            }
}
.socials{
    gap:50px;
   }
.links{
text-align: center;
}
.copy{
    text-align: center;
   }
   .socialites{

   }